.header {
  height: 140px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 140px;
  font-size: 4em;
  color: #003300;
  /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 70px;
}

body {
  margin: 0;
  background-color: black;
  background-image: url(images/pic_1_smaller_fade.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

ul.navbar {
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  width: 60%;
  background-color: #003300;
  /*background-color: linear-gradient(#003300, rgba(0, 0, 0, .5));*/
  height: 40px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
}

li {
  display: inline-block;
}

li a {
  display: block;
  cursor: pointer;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 8px 80px;
  text-decoration: none;
  width: auto;
}

li a:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #003300;
}

#page_container {
  text-align: center;
}

#column_left{
  float: left;
  width: 20%;
  /*background-image: url(pic_2_left1.jpg);
  background-size: 200%;
  background-position: left top; 
  background-repeat: no-repeat;*/
  height: 1000px;
}

#column_right{
  float: right;
  width: 20%;
  /*background-image: url(pic_2_right1.jpg);
  background-size: 100%;
  background-position: right top; 
  background-repeat: no-repeat;*/
  height: 1000px;
  padding-top: 30px;
}

#column_center{
  display: inline-block;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 1000px;
  text-align: center;
}

.create_post {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.button {
  background-color: #003300;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #003300;
}

.button:focus {
  outline: none;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #003300;
}

#post_entry {
  display: none;
  margin: 3px;
}

.button_post {
  background-color: #003300;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  position: absolute;
  right: 47px;
  top: 121px;
}

.button_post:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #003300;
}

#post_entry_box {
  width: 90%;
  height: 100px;
  padding: 12px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

#ride_entry {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  margin: 3px auto;
  width: 90%;
}

.button_post_ride {
  background-color: #003300;
  border: none;
  color: white;
  padding: 10px 15px;
  margin: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

input {
  margin: 3px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 4px;
}

input:focus {
  outline: none;
  background-color: gray;
}

.post {
  margin: 10px auto;
  padding: 12px;
  min-height: 150px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: left;
  border: 3px solid #003300;
  border-radius: 4px;
  display: none;
}

.date_time {
  font-size: 14px;
  position: relative;
  top: 120px;
  left: 530px;
}

.date_time_media {
  font-size: 14px;
  position: relative;
  top: 240px;
}

.media_wrapper {
  margin: 0 auto;
  width: 95%;
}

.image_post {
  float: left;
  margin: 10px 6px;
  padding: 12px;
  min-height: 270px;
  width: 44.5%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  border: 2px solid white;
  border-radius: 4px;
}

.video_post {
  float: left;
  margin: 10px 6px;
  padding: 12px;
  min-height: 270px;
  width: 44.5%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  border: 2px solid white;
  border-radius: 4px;
}

.button_post_image {
  background-color: #003300;
  border: none;
  color: white;
  padding: 10px 15px;
  margin: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.button_post_video {
  background-color: #003300;
  border: none;
  color: white;
  padding: 10px 15px;
  margin: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

#image_entry {
  display: none;
  margin: 3px;
}

#video_entry {
  display: none;
  margin: 3px;
}

.user_image_wrap {
  margin: 10px auto;
  padding: 12px;
  min-height: 250px;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  border: 2px solid white;
  border-radius: 4px;
}

.user_image {
  background-image: url(https://www.royalcanin.com/~/media/Royal-Canin/Product-Categories/dog-medium-landing-hero.ashx);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 175px;
  width: 150px;
  margin: 0 auto;
}

.account_info {
  line-height: 150%;
}

.login {
  display: block;
  margin: 0 15px;
  padding: 12px;
  height: 13px;
  line-height: 15px;
  width: 79%;
  background-color: #003300;
  color: white;
  text-align: center;
  font-size: 20px;
  border-radius: 15px 15px 0px 0px;
  
  /*border: 2px solid white;
  border-radius: 4px;*/
}

.login_inputs {
  position: relative;
  font-size: 16px;
  height: 128px;
  width: 112%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: -12px;
  margin-top: 10px;
  padding-top: 10px;
  text-align: right;
}

.button_login {
  position: relative;
  background-color: #003300;
  border: none;
  color: white;
  padding: 10px 15px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  top: -50px;
}

.button_login:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #003300;
}

.button_register {
  position: relative;
  background-color: #003300;
  border: none;
  color: white;
  padding: 10px 15px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  left: -86px;
  top: 5px;
}

.button_register:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #003300;
}

.button_logout {
  position: relative;
  background-color: #003300;
  border: none;
  color: white;
  padding: 10px 15px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  left: 0px;
  top: -75px;
  display: none;
}

.button_logout:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #003300;
}

p {
  margin: 0;
  display: inline;
}

.grayed {
  color: gray;
}

#button_register {
  display: none;
}

#button_showMore {
  display: inline-block;
}

#information {
  display: none;
  text-align: right;
}